
:host {
  display: inline-block;
  width: 100%;
    button{
    width: 100%;
    max-height: var(--height-md);
    height: 100%;
    background: #FF6347;
    color: #fff;
    padding: var(--space-md);
    border-radius: var(--radius-xl) ;

      @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  &:active {
    opacity: 0.7;
  }

}
}




