
:host {
  display: inline-block;
  width: 100%;
    button{
      &.comon-btn{
   width: 100%;
    max-height: var(--height-md);
    height: 100%;
    background: #FF6347;
    color: #fff;
    padding: var(--space-md);
    border-radius: var(--radius-xl) ;
          @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }

  &:active {
    opacity: 0.7;
  }
      }
      &.link-btn{
        font-size: var(--font-size-xs-mobile);
        text-align: center;
        transform-origin: center;
transition: transform 0.3s ease-in-out;
              @media (hover: hover) {
    &:hover {
      cursor: pointer;
          text-decoration: underline 1px solid black;
          transform: scale(1.1);
    }
  }

  &:active {
    text-decoration: underline 1px solid black;
  }
      }




}
}




