    <div mat-dialog-content class="mat-content" (click)="fileInput.click()" appDropzone (fileDropped)="uploadFacade.onFiles($event)">

    <p class="icon"><mat-icon>cloud_upload</mat-icon></p>
    <p class="leading"><i18n-text label="pages.modal.leading"></i18n-text></p>

    <input #fileInput (change)="onFileInputChange($event)" type="file" accept="image/*"  style="display: none;">

      @if (uploadFacade.previewUrl$ | async; as preview) {
    <div style="width: 100px;"><img [src]="preview" alt="1"></div>

      }
    </div>

<mat-dialog-actions>
  <app-button mat-button  label="pages.modal.upload"></app-button>
  <app-button mat-button mat-dialog-close label="pages.modal.close"></app-button>
</mat-dialog-actions>