:host {
  display: block;
  width: 100%;
}


.ui-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.ui-input__block{
  width: 100%;
    padding-bottom: 1.4rem;
  position: relative;
}
.ui-input__field {
  width: 100%;
  padding: var(--space-lg, --space-md);
  box-sizing: border-box;
  border-radius: var(--space-xs);
  border: none;
  background-color: #fafafa;
  outline: none;

  &[aria-invalid='true'] {
    outline: 1px solid #d32f2f;

  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

}

.error-message{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  p{
    color: #d32f2f;
    font-size: var(--font-size-xxs-mobile);
    font-weight: 400;
    }
}