:host{
    height: 100vh;
    width: 100%;
    display: block;
    padding: var(--space-xs) var(--space-xl);
    box-sizing: border-box;

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: var(--space-xxl);
    }
     .auth__title {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
  }

  .auth__subtitle {
    color: #616161;
    letter-spacing: 0.2px;
  }

  app-auth{
    flex-grow: 1;
      display: block;

  }

  
}