<div class="auth">
 <!-- <div class="auth__nav">
    <button type="button" class="auth__back-btn">
      <img
        class="auth__back-icon"
        src="assets/icons/arrow-back.svg"
        alt="arrow back"
      />
    </button>
  </div>
-->
  <div class="auth__content">
    <form
      class="auth__form"
      [formGroup]="authForm"
      (ngSubmit)="authBtn(authForm)"
    >
      <app-input
        type="text"
        label="pages.common.email"
        formControlName="userEmail"
        placeholder="Введите адрес электронной почты"
      ></app-input>

      @if (!isLoginMode) {
            <app-input
        type="text"
        label="pages.log-in-out.registretion.name"
        formControlName="userName"
        placeholder="Придумайте имя"
      ></app-input>
      }

      <app-input
        type="text"
        label="pages.common.password"
        formControlName="userPassword"
      ></app-input>


      @if (!isLoginMode) {
      <div class="modal-btn">
        <app-button (click)="openDialog('300ms', '100ms')" type="button" variant="modal" label="pages.common.add-photo"></app-button>
      </div>
      }

    <div class="auth__btn-block">
      <app-button class="auth__submit" type="submit" [disabled]="authForm.invalid" variant="common" [label]="!isLoginMode ? 'pages.log-in-out.registretion.submit' : 'pages.log-in-out.auth.submit'"></app-button>
      <app-button class="change-loginMode" (click)="toggleStatus()" type="button"  variant="link" [label]="!isLoginMode ? 'pages.common.to-auth' : 'pages.common.to-log-in'"></app-button>
    </div>
    </form>
  </div>
</div>