@use '_mixins';

:host {
  .auth {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .auth__nav {
    min-height: var(--height-md);
    padding: var(--space-sm) var(--space-xl);
    display: flex;
    align-items: center;
  }

  .auth__back-btn {
    all: unset;
    cursor: pointer;
  }

  .auth__back-icon {
    width: var(--icon-width);
    height: var(--icon-width);
  }

  .auth__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-s);
  }

 

  .auth__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    .auth__btn-block{
      display: flex;
      flex-direction: column;
      row-gap: var(--space-md);
      position: relative;
      padding: var(--space-lg) var(--space-lg) var(--space-l);
      margin-top: auto;
      &::before{
      content: '';
    position: absolute;
    @include mixins.full-width-line;
    top: 0;
    border-top: 1px solid black;
      }
      .change-loginMode{
        text-align: center;
    }
  }
  }


}



