:root{
    //Fonts name
    --font-family-heading-desktop: Urbanist;
    --font-family-heading-mobile: Urbanist;
    --font-family-body-desktop: Urbanist;
    --font-family-body-mobile: Urbanist;

    //Fonts size 
    //For desktop
    --font-size-xxxl-desktop: 56px;
    --font-size-xxl-desktop: 38px;
    --font-size-xl-desktop: 28px;
    --font-size-md-desktop: 20px;
    --font-size-sm-desktop: 18px;
    --font-size-xs-desktop: 16px;
    --font-size-xxs-desktop: 12px;


    //For mobile
    --font-size-xxxl-mobile: 32px;
    --font-size-lg-desktop: 24px;
    --font-size-xxl-mobile: 20px;
    --font-size-xl-mobile: 18px;
    --font-size-sm-mobile: 16px;
    --font-size-xs-mobile: 14px;
    --font-size-xxs-mobile: 12px;

    //Font line-height
        //For desktop
    --font-line-height-xxxl-desktop: 60px;
    --font-line-height-xxl-desktop: 46px;
    --font-line-height-xl-desktop: 32px;
    --font-line-height-lg-desktop: 28px;
    --font-line-height-md-desktop: 24px;
    --font-line-height-sm-desktop: 24px;
    --font-line-height-xs-desktop: 18px;
    --font-line-height-xxs-desktop: 16px;
        //For mobile
    --font-line-height-xxxl-mobile: 28px;
    --font-line-height-xxl-mobile: 24px;
    --font-line-height-xl-mobile: 24px;
    --font-line-height-lg-mobile: 24px;
    --font-line-height-md-mobile: 20px;
    --font-line-height-sm-mobile: 20px;
    --font-line-height-xs-mobile: 18px;
    --font-line-height-xxs-mobile: 14px;

    //Gap,padding,margin and etc

  --radius-sm: 6px;
--radius-md: 10px;
--radius-lg: 16px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;

  --icon-width: 28px;

  --height-l: 78px;


}